body {
  margin: 0;
  background-color: #EEEEEE;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Poppins', sans-serif;
  /* background: rgb(15, 19, 26); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


:root {
  --secondary: #B2B2B2;
}

*::-webkit-scrollbar {
  width: 7px;
}


*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .dark {
  @apply bg-gray-800 text-zinc-50
}

.light {
  @apply bg-white text-black
} */