body {
  margin: 0;
  background-color: #eeeeee;
}

html {
  font-family: 'Montserrat', sans-serif;
}


:root {
  --secondary: #b2b2b2;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide {
    @apply focus:ring-2 focus:ring-offset-2 border-0 focus:outline-none focus:ring-primary;
  }
  .hide-red {
    @apply focus:ring-2 focus:ring-offset-2 border-0 focus:outline-none focus:ring-red-500;
  }
}
